<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mahashri Stock Symbols Dashboard</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1 class="welcome-message">Welcome to Mahashri Stocks Dashboard!</h1>
        
        <div class="plot-container">
            <img src="data:image/png;base64,{{ plot_url }}" alt="Stock Price Plot">
        </div>

       
    </div>
</body>
</html>
